body {
    background-color: rgb(214, 214, 214);
    padding: 30px;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    color: gray;
}

.loginForm {
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
    margin-top: 15vh;
}

#logInButton,
.log-in-button {
    border-radius: 5px;
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
    padding: 8px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    outline: none;
}

label {
    font-size: 1.1rem;
    font-weight: 600;
}

.contant-container,
.input-area {
    width: 90%;
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: auto;
}

#userArea {
    display: none;
}

@media(max-width:800px) {
    .single {
        flex-basis: 50%;
        margin-top: 10px;
        height: auto;
    }
    .contant-container {
        width: 100%;
        padding: 4px 5px;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        font-size: 18px;
    }
    .last {
        width: 100%;
        min-height: 80px;
        height: 50px;
    }
}